*{
    margin: 0;
    padding: 0%;
}
body{
    background-color: blanchedalmond;
    text-align: center;
}
.cont{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
   flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(136, 136, 82);
    box-shadow: 0 0 1rem rgba(0, 0,0, 0.1);
    font-size: 8vmin;

}
#reset{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: rgb(45, 26, 63);
    color: aqua;
    border-radius:1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: rgb(45, 26, 63);
    color: aqua;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: rgb(28, 2, 2);
    font-size: 8vmin;
}
.msg-cont{
    height: 30vmin;
}
.hide{
    display: none;
}